*{

    box-sizing: border-box;

}
body{
background-color:white;
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navbar {
background-color: #333;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
position: relative;
}



.navbar #logo a {

color: #d7c583d9;
text-align: center;
padding: 14px 16px;
transition: background-color 0.3s;
font-family: 'Brush Script MT';
font-size: 40px;
text-decoration: none;
}


.navbar .hamburger {
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
cursor: pointer;
color: white;
font-size: 24px;
display: none;
}


.navbar ul {
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

.navbar li {
margin-left: 10px;
}

.navbar ul li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
transition: border-bottom-color 0.3s;
border-bottom: 2px solid transparent;

}

.navbar ul li a:hover {
border-bottom-color: #d7c583d9;

}


.navbar.collapsed ul {
position: absolute;
top: 100%;
right: 0;
width: 50%;
background-color:#d7c583d9;
flex-direction: column;
align-items: flex-start;
padding: 10px;
display: none;
z-index: 100;
}

.navbar.collapsed ul li {
margin-left: 0;
}

.navbar.collapsed ul a {
padding: 10px 16px;
color: black;
}
#container{
display: flex;
flex-direction: column;

}
#filterKon{
margin-top: 1.5vw;
display: flex;
flex-direction: row;
}

#filteri {

width: 100vw;
justify-content:space-around;
border: 1px solid white;
height: 10vw;
align-items: center;
margin-bottom: 2vw;

}
#filteri div{
text-align: center;
font-size: 1.3VW;
width: 8vw;
height: 5vw;
color: #333;
background-color:#d7c583d9 ;
font-family: 'Roboto', sans-serif;
cursor: pointer;
}
#filteri div:hover{

background-color: #333;
color:#d7c583d9;

}
#filterSlika{
margin: 2vw;
width: 60px;
height: 60px;
cursor: pointer;
}
#sortSlika{
margin: 2vw;
width: 60px;
height: 60px;
cursor: pointer;
}
#sort2Slika{
margin: 3vw;
width: 33px;
height: 33px;
cursor: pointer;
}
#sortKon{
display: flex;
flex-direction: row;
}

.cifraPocetna {
font-weight: bold;
font-size: 20px;
color: white
}
.cifraTrenutna {
font-weight: bold;
font-size: 25px;
color:#d7c583d9 ;
}

.flex{
display: flex;
}
.nevidljivo{
display: none;
}

.space{
justify-content: space-between;
}


.end{

justify-content: flex-end;
}

.input{
margin-right: 30px;
border:1px solid #333;
border-radius: 3px;
position: absolute;
right: 100px;
bottom: 20px;
}

.divCena{
margin: 2vw;
}

.product-bar {

align-items: center;
background-color: #333;
color: white;
padding: 1vw;
position: relative;
transition: filter 0.3s ease;
border-radius: 10px;
margin-top: 3vw;

}

.overlay{
margin: 40px;
}

.product-image {
margin-right: 10px;
transition: transform 0.3s ease;
}

.product-image img {
width: 150px;
height: 150px;
object-fit: cover;
}

.product-details {

margin-bottom: 1vw;
} 
.flex1 { 
flex: 1;
}
.flexCol{
flex-direction: column;
}

.flexRow{
flex-direction: row;
}
.product-details h2 {
margin: 0;
font-size: 28px;
font-weight: bold;
}

.product-details p {
margin: 5px 0;
font-size: 18px;
}

.btn-detaljnije {
margin-top: 10px;
margin-left: auto; 
padding: 8px 16px; 
background-color: red;
color: #fff; 
border: none;
border-radius: 4px;
cursor: pointer;
float: right;

}
.zeleno{
background-color: green;
}

.timerr {
display: inline-block;
text-align: right;
}

main {
padding: 20px;
}

#sekcija {
text-align: center;
}

#sekcija h2 {
font-size: 32px;
}


#gallery {
margin-top: 40px;
/* display: flex;
flex-direction: row; */
}

#gallery h3 a  {
font-size: 24px;
text-decoration: none;
color:#333;
}


#galerija {

display: flex;
flex-direction: row;
}

.slika-item {
border: 1px solid #ccc;
padding: 10px;
text-align: center;
}

.slika-item img {
width: 100%;
height: 500px;
}




@media screen and (max-width: 768px) {
.navbar ul {
  display: none;
}

.navbar .hamburger {
  display: block;
}

.navbar.collapsed ul {
  display: flex;
}
#galerija {

  display: flex;
  flex-direction: column;
}
.flexRow{
  flex-direction: column;
}
.input {
  float: left;
  align-self: flex-start;
  margin-right: 30vw;
}

}@media screen and (max-width:420px) {

.input {
  float: left;
  align-self: flex-start;
  margin-right: 10vw;
}

}